@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 200;
  src: local('Raleway ExtraLight'), local('Raleway-ExtraLight'), url(http://themes.googleusercontent.com/static/fonts/raleway/v7/8KhZd3VQBtXTAznvKjw-k73hpw3pgy2gAi-Ip7WPMi0.woff) format('woff');
}

@font-face {
  font-family: 'IM Fell Great Primer';
  font-style: normal;
  font-weight: 400;
  src: local('IM FELL Great Primer Roman'), local('IM_FELL_Great_Primer_Roman'), url(http://themes.googleusercontent.com/static/fonts/imfellgreatprimer/v4/AL8ALGNthei20f9Cu3e93rsF2DnBJrn5eQIoP3pX12z3rGVtsTkPsbDajuO5ueQw.woff) format('woff');
}