@import "saffron/saffron";
@import "fonts";
@import "round-corners";

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#map-canvas {
  height: 105%;
  width: 125%;
  margin-left: -15%;
}

.logo {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 125px;
  margin-left: 5px;
  margin-bottom: 5px;
  &:hover {
    @include teeter();
  }
}

.hidden {
  display: none;
}

.dropIn {
  @include slideInRight();
}

.layover {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.85);
  position: fixed;
  top: 0;
  left: 0;
}

.card {
  position: absolute;
  height: 60%;
  width: 60%;
  top: 18%;
  left: 15%;
  padding: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #F2F3F8;
}

.name {
  font-family: 'IM Fell Great Primer', serif;
  font-size: 2.5em;
}

.image {
  height: 300px;
  width: 400px;
  float: left;
}

.description {
  margin-top: -1%;
  padding-right: 40%;
  float: left;
  font-family: 'Raleway', sans-serif;
  font-size: 1.3em;
  line-height: 130%;
}

.button {
  @include round-corners();
  margin-top: 1%;
  padding: 15px;
  background: rgba(255, 255, 255, 0.2);
  color: white;
  font-family: 'IM Fell Great Primer', serif;
  font-size: 1.2em;
  &:hover {
    @include bounce();
    background: rgba(255, 255, 255, 0.5);
  }
  &:focus {
    outline: 0;
  }
}

