@import "saffron/saffron";

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map-canvas {
  height: 105%;
  width: 125%;
  margin-left: -15%;
}

.logo {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 125px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.hidden {
  display: none;
}

.layover {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
}

.card {
  position: absolute;
  height: 70%;
  width: 70%;
  top: 18%;
  left: 15%;
  background: white;
  padding: 20px;
}

.name {
  margin-left: 2%;
  margin-bottom: 5%;
}

.image {
  height: 300px;
  width: 400px;
  float: left;
}

.description {
  margin-left: 2%;
  height: 60%;
  width: 50%;
  float: left;
}
